
			</div>
		</div>
    <footer class="d-flex justify-content-center align-items-center">
          <p class="d-inline m-0">Made with ❤️ by <strong>Ali Usman</strong></p>
        </footer>
	</body>
</html>
