<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
		<h1>This is home.ejs file in views folder</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit explicabo
			eaque expedita doloremque quas hic pariatur, itaque natus, error ipsa
			eveniet blanditiis corporis! Placeat, sapiente modi quos explicabo natus
			nihil culpa, quam quas nulla, eos adipisci. Totam modi rem necessitatibus
			natus nobis laborum dolores ad possimus, impedit quo amet recusandae!
		</p>
	</body>
</html>
