<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h2>Username: <%= username %></h2>
		<button>Follow</button>
		<button style="margin-right: 10px">Message</button>
	</body>
</html>
